<div class="service-card">
  <div class="service-detail">
    <div class="service-label">Name</div>
    <div class="service-value"><%= service.name %></div>
  </div>

  <div class="service-detail">
    <div class="service-label">Repository URL</div>
    <div class="service-value"><%= service.repository_url %></div>
  </div>
</div>
