<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= link_to service.name, service, class: "link" %>
  </p>

  <p>
    <strong>Repository url:</strong>
    <%= service.repository_url %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= service.uuid %>
  </p>

</div>
