<% content_for :title, "New service" %>

<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="md:flex md:items-center md:justify-between md:space-x-4 mb-8">
    <div>
      <h1 class="text-2xl font-bold text-gray-900">New Service</h1>
    </div>
  </div>

  <%= render "form", service: @service %>
</div>

<br>

<div>
  <%= link_to "Back to services", services_path %>
</div>
