<%= page_header("Resources") %>

<div class="grid grid-cols-4 gap-4 text-lg font-bold mb-2">
  <%= link_to "Services", services_path, class: "shadow-lg rounded-lg p-6 hover:bg-sky-700 hover:shadow-inner hover:text-white" %>
  <%= link_to "Environments", stage_environments_path, class: "shadow-lg rounded-lg p-6 hover:bg-sky-700 hover:shadow-inner hover:text-white" %>
</div>

<div data-controller="hello"></div>