<div id="<%= dom_id stage_environment %>">
  <p>
    <strong>Service:</strong>
    <%= stage_environment.service_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stage_environment.name %>
  </p>

</div>
