<h1>Editing stage environment</h1>

<%= render "form", stage_environment: @stage_environment %>

<br>

<div>
  <%= link_to "Show this stage environment", @stage_environment %> |
  <%= link_to "Back to stage environments", stage_environments_path %>
</div>
