$blue:    #bbd0df;
$indigo:  #520bc5;
$purple:  #5b379d;
$pink:    #ac296a;
$red:     #a42431;
$orange:  #be5f11;
$yellow:  #e0b225;
$green:   #047a43;
$teal:    #169d75;
$cyan:    #11a9c7;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;